
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    }

ul {
    padding: 0px!important; 
}    

.menu-main{
    width: 100%;
    background-color: #252323;
    height: 65px;
    
}
.main{
    margin: 0 auto;
    width: 980px;
    position: relative;
    margin: 0 auto;
    
}

.logo{
    
    float: left;
    padding: 10px;
    margin-left: 12%;
 
}

.network {
    width: 25%;
    float: right;
}


.network ul li{
    margin-left: 25px;
    display: inline-block;
    float: left;
    list-style: none; 
    margin-top: 13px;
    
}

.header-2{
    background-color: #ffff;
    width: 980px; 
    margin: 0 auto;
    padding: 16px;
    
}

.menu-urls{
    height: 70px;
    border-bottom: 3px solid #efefef;

}
.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;

}

.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}   


.menu ul li a:hover{
    border-bottom: 2px dashed #00bac6;
}

.menu ul li a:hover{
   color: #00bac6;

} 

.menu {
    width: 70%;
    float: left;
    }
.search {
    text-align: center;
    width: 30%;
    float: right;
}
.search input{
    background-image: url(/img/icone-search.png);
    background-repeat: no-repeat;
    height: 15px;
    padding: 12px;
    width: 190px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid #d6d6d6;
}
.col-102{
    width: 100%;
    float: left;
    position: relative;
}


.slider-prime{
    max-width: 100%;
	width: 1455px;
	height: 300px;
	object-fit: cover;
 
}


.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 600px;
}

li.slick-active button {
    background: #00bac6;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 600px;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

button.slick-prev {
    border: none;
    font-size: 0px;
}
button.slick-next{
    border: none;
    font-size: 0px;
}

