
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    }

ul {
    padding: 0px!important; 
}    

.menu-main{
    width: 100%;
    background-color: #252323;
    height: 65px;
    
}
.main{
    margin: 0 auto;
    width: 980px;
    position: relative;
    margin: 0 auto;
    
}

.logo{
    
    float: left;
    padding: 10px;
    margin-left: 12%;
 
}

.network {
    width: 25%;
    float: right;
}


.network ul li{
    margin-left: 25px;
    display: inline-block;
    float: left;
    list-style: none; 
    margin-top: 13px;
    
}

.header-2{
    background-color: #ffff;
    width: 980px; 
    margin: 0 auto;
    
}

.menu-urls{
    height: 70px;
    border-bottom: 3px solid #efefef;

}
.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;

}

.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
    }
.search {
    text-align: center;
    width: 30%;
    float: right;
}
.col-102{
    width: 100%;
    float: left;
    position: relative;
}